@use "settings";
@use "tools";

.tag{
    width:fit-content;
    padding:5px 10px;
    margin:0;
    margin-top:7%;
    margin-bottom:3%;
    border-radius: 20px;
    color:settings.$main-color-dark;
    transition: filter 0.5s ease;

    &:hover{
        filter:blur(2px);
    }

    &--azul{
        background-color:settings.$color-blue;
    }

    &--verde{
        background-color:settings.$color-green;
    }

    &--rojo{
        background-color:settings.$color-red;
    }
}




/* #CARD PRINCIPAL  */
.card-container{
    display:flex;
    gap:40px;
    transition: transform 0.2s ease;

    @include tools.respond(lg){
        gap: 20px;
    }

    @include tools.respond(md){
        gap: 0;
    }

    &__card-element{
        width:100%;
        flex: 0 0 calc((100% / 3) - 40px);
        display:flex;
        flex-direction:column;
        opacity:0;
        transform: translateY(30px);
        transition: all 0.5s ease;    

        @include tools.respond(lg){
            flex: 0 0 calc(50% - 20px);
            width: 100%;
        }

        @include tools.respond(md){
            flex: 0 0 100%;
            width: 100%;
        }

        img:hover{
            clip-path: ellipse(40% 50% at 50% 50%);
        }

        /* stylelint-disable-next-line no-descending-specificity */
        img{
            clip-path: ellipse(100% 100% at 50% 50%);
            transition: clip-path 0.4s ease;
        }

    }
    
    &__contenedor-titulo{
        padding-top:4%;
        display:flex;
        align-items:center;
        justify-content:space-between;

        span{
            @include tools.tagcity;
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    img{
        max-width:100%;
        height:auto;
        border-radius:20px;
        aspect-ratio: 3 / 2;  
        object-fit: cover;
    }
}

.discotecas, .festivales, .fiestas{
    position:relative;

    .contenedor-boton{
        width:100%;
        position:absolute;
        top:0%;
        right:0;
    }

    button{
        @include tools.buttonArrow;

        svg{
            fill:none;
        }
    }
}


/* GRID CARDS INTERNO */

.grid-tarjetas{
    display:grid;
    /* stylelint-disable-next-line unit-allowed-list */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;

    @include tools.respond(md){
        /* stylelint-disable-next-line unit-allowed-list */
        grid-template-columns: repeat(1, 1fr);
    }

    &__grid-card-element{
        display:flex;
        flex-direction:column;
        opacity:0;
        transform: translateY(30px);
        transition: all 0.5s ease;
    }
    
    &__grid-contenedor-titulo{
        padding-top:4%;
        display:flex;
        align-items:center;
        justify-content:space-between;

        span{
            @include tools.tagcity;
        }

    }

    button{
        @include tools.buttonArrow;

        svg{
            fill:none;
        }
    }
    

    /* stylelint-disable-next-line no-descending-specificity */
    img{
        max-width:100%;
        height:auto;
        border-radius:20px;
        aspect-ratio: 3 / 2;  
        object-fit: cover;
        transition: transform 0.3s ease;
    }

    img:hover{
        transform: scale(1.02);
    }

    h4{
        color:white;
    }
}

.grid-tarjetas-tag-container{
    padding-bottom:3%;
    grid-column: 1 / -1; 
    display:flex;
    flex-wrap: wrap;
    gap:30px;

    span{
        transition: all 0.2s ease;

        @include tools.tagcity;
    }

    span:hover{
        background-color:white;
        color:black;
    }
    
    .span-selected{
        background-color:white;
        color:black;
    }
}




/* CONTENEDOR INTERNA */
.contenedor-evento-interno{
    width:100%;
    height:auto;
    display:flex;
    gap:50px;
    align-items: flex-start;
    position:relative;
    
        @include tools.respond(md){
            flex-wrap: wrap;
        }

    span{
        @include tools.tagcity;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    img{
        width:100%;
        height:auto;
        margin-bottom:3%;
        border-radius:20px;
        aspect-ratio: 3 / 2;
            }

    &__columna-mitad{
        flex: 1 1 calc(50% - 25px);

        @include tools.respond(lg) {
            flex: 0 0 calc(50% - 25px); 
          }

        @include tools.respond(md) {
            flex: 0 0 100%; 
          }
    }

    &__columna-completa{
        flex: 1 1 100%;
    }

    &__columna-sticky{
        margin-top:2%;
        width:50%;
        position:sticky;
        top:20px;
        align-self: flex-start;

        @include tools.respond(md) {
            width:100%;
            position:relative;
            flex: 0 0 100%; 
          }
    }

    .sonido-enlace{
        margin-top:40px;
        display:flex;
        align-items: end;
        justify-content: space-between;

        @include tools.respond(md){
            display:block;
        }

        .enlace-discoteca{
            display:flex;
            gap:20px;
            align-items: center;
            color:white;
        }
    }

    .video-youtube {
        overflow: hidden;
        border-radius: 20px;

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
          }
      }
      
      
        
}




/* SCROLL INFINITO */
.scroll-infinito {
    margin-top:5%;
    display: flex;
    white-space: nowrap;
    position: relative;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    z-index:-1;
  
    @include tools.respond(md){
        width:100vw!important;
        margin:20% 0;
        animation-duration:7s!important;
        }

  .shape {
    flex-shrink: 0;
    width: 177px;
    height: 103px;
    margin-right:-5px;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
