@use "settings";
@use "tools";

h1{
    font-size: tools.fluid-font(5rem, 14vw, 19rem);
}

h2{
    font-size: tools.fluid-font(3rem, 4.5vw, 12rem);
}

h3{
    font-size: tools.fluid-font(2rem, 2vw, 5rem);
}

h4{
    margin:0;
    font-size: 28px;
}

