@use "settings";
@use "tools";

html{
    width:100vw;
    margin:0;
    padding:0;
    overflow-x: hidden;
    box-sizing: border-box;

    @include tools.respond(md){
        overflow-x:hidden;
        }
}

body{
    width:100vw;
    padding:0%;
    margin:0;
    background: settings.$main-color-dark;
    font-family: settings.$generic-font;
    color:settings.$main-color-light;
}

section{
    min-height:100vh;
    width:100vw;
}

nav{
    position:fixed;
    top:0;
    left:0%;
    width:100%;
    z-index:99999;
    
    @include tools.respond(md){
        position:absolute;
    }

    .nav-wrapper{
        padding:2% 4%;
        display:flex;
        justify-content: space-between;

        @include tools.respond(md){
            padding: 3%;
            
        }
    }

    a{
        color:white;
        mix-blend-mode: difference;
    }
    
    img{
        width:80px;
        height:auto;
    }
}

footer{
    padding: 0 2%;
    margin-top:8%;

    @include tools.respond(md){
        padding: 2%;
    }

    h2{
        margin:10px 0;
    }

    img{
        width:15%;
        height:auto;

        @include tools.respond(md){
            width:50%;
        }
    }

    div{
        padding-top:3%;
        display:flex;
        align-items:end;
        justify-content:space-between;
    }

    p{
        font-size:20px;
        margin:5px 0;

        @include tools.respond(md){
            font-size:14px;
        }
    }
}