@use "sass:color";

@font-face {
    font-family: "Instrument Sans";
    src: url("../fonts/InstrumentSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

$main-color-dark: #000;
$main-color-light: #D9D9D9;
$light-color-transparent: rgba($main-color-light, 0.2);
$color-green: #77F773;
$color-blue: #73E8F7;
$color-red: #F77375;
$color-purple: #8D73F7;
$generic-font: "Instrument Sans", sans-serif;
$z-index-img: -1;
$mq-min-width-phone: 690px;
$mq-min-width-tablet: 999px;

$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px
);