@use "settings";
@use "sass:map";

@mixin greyscale($amount:100%){
    filter: grayscale($amount);
}

@mixin buttonArrow{
    position:absolute;
    z-index:9999;
    right:0;
    margin-top:10%;
    border:0;
    background-color:transparent;
    cursor:pointer;
}

@mixin tagcity{
    padding:5px 8px;
    height:auto;
    border-radius:10px;
    background-color: settings.$light-color-transparent;
    font-size:12px;
    text-transform: uppercase;
    cursor:pointer;
}

/* Tamaño de fuentes responsive */
@function fluid-font($min, $vw, $max) {
    @return clamp($min, $vw, $max);
  }


/* Media querys responsive */

@mixin respond($break) {
    $size: map.get(settings.$breakpoints, $break);
  
    /* stylelint-disable-next-line media-query-no-invalid */
    @media (max-width: #{$size}) {
      @content;
    }
  }
  
  